.frm{
    margin: 50px 500px;
}
.input-style{
    width: 100%;
    background-color: rgb(122, 91, 11);
    color: white;
    border: goldenrod;
    
}
input[type="submit"]{
    background-color: goldenrod;
}
input[type="submit"]:hover{
    background-color: rgb(95, 69, 2);
    cursor: pointer;
}
.google-img{
    width: 8%;
    
}
.facebook-img{
    width: 10%;
}
.google{
    margin-left: 600px;
    width: 15%;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 100%;
    text-align: center;
    justify-content: center;
}
.google:hover{
    background-color: rgb(201, 191, 191);
}
.facebook{
    margin-left: 600px;
    width: 15%;
    padding:10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 100%;
    text-align: center;
    justify-content: center;
}
.facebook:hover{
    background-color: rgb(201, 191, 191);
}
.under{
    width: 10%;
    margin-left: 550px;
}
.line{
    width: 10%;
}
.underline{
    display: flex;
    margin-bottom: 30px;
}
.or{
    margin: 0 5px;
}

